<div class="row p-2">

  <p class="text-warning bg-dark" *ngIf="isNewUser">User does not Exist Please do SignUp</p>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  formControlName = "email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName = "password">
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div>

