<!-- category Selection -->
<div class="container p-2 shadow-sm">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand"  >Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-75 m-auto d-flex justify-content-around">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">
              <img src="../../../../assets/Images/talk to docter.png" class="m-auto" height="50" width="50">
              <h6 class="mt-1">Talk To Docter</h6>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Medicine">
              <img src="../../../../assets/Images/medicine.jpeg" class="m-auto" height="50" width="50">
              <h6 class="mt-1">Medicines</h6>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">
              <img src="../../../assets/Images/surgery.jpeg" class="m-auto" height="50" width="50">
              <h6 class="mt-1">Surgery</h6>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">
              <img src="../../../assets/Images/lab.jpg" class="m-auto" height="50" width="50">
              <h6 class="mt-1">lab Test & Packeges</h6>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">
              <img src="../../../assets/Images/insurance.png" class="m-auto" height="50" width="50">
              <h6 class="mt-1">Insurance</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Consult with Docter -->
<div class="container shadow p-2 mt-2 w-75 border rounded-pill">
  <div class="d-flex justify-content-around ">
    <h4 class="mt-1">
      Consult with Top Docters Online, 24 x 7
    </h4>
    <p class="border rounded-pill p-3 px-5 mt-1">
      Start Consultation
    </p>
  </div>
</div>

<!--  -->
<div class="container mt-2 py-4">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://views.medibuddy.in/websiteBanners/websitecustomer_banner.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://mb-meds-assets.medibuddy.in/banners/OTC-Store/upkarnaWebHomePage.png" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://views.medibuddy.in/homePageBanners/EaseBannerWeb.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://views.medibuddy.in/homePageBanners/diagonistic_centers.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--  -->
<div class="container mt-2 p-1 shadow border border-4 rounded-pill">
  <img src="https://views.medibuddy.in/dynamic-banner/medibuddyHomeFirstFoldWebABHA.svg" class="w-100" alt="">
</div>

<!--  -->
<div class="container border border-3 mt-4 p-2">
  <div class="row">
    <div class="col-md-5">
      <h4 class="mt-2"> <span class="text-primary">Medi</span><span class="text-danger">Buddy</span> <span
          class="text-warning"> GOLD </span> </h4>
      <h3 class="mt-1 p-2"> <span class="text-danger">Give the care your</span><br> <span class="text-danger">family
          deserves</span></h3>
      <h5 class="mt-2 p-2 text-dark">Unlimited Consultations with top Doctors for <br> 6 family members in 22+
        specialities and 16 <br> languages</h5>
      <button type="button" class="btn btn-warning px-2">Buy Medibuddy Gold -></button>
    </div>
    <div class="col-md-6 p-2">
      <div class="row">
        <div class="col-md-5 m-auto p-2">
          <div class="card px-2 rounded-4" style="width: 17rem;">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg"
              class="card-img-left p-3" height="125" width="125" alt="...">
            <div class="card-body">
              <h5 class="card-title"> <span class="text-primary">Unlimited Free </span><br> <span
                  class="text-danger">Consultations</span></h5>
              <p class="card-text">Get Unlimited Free Consultation<br> with all <strong>doctors 24x7</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 m-auto p-2">
          <div class="card mt-5 px-2 rounded-4" style="width: 17rem; ">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-left p-3"
              height="125" width="125" alt="...">
            <div class="card-body">
              <h5 class="card-title"> <span class="text-primary">Free </span><span class="text-danger">For Full
                  Family</span></h5>
              <p class="card-text">Free consultations for upto<strong> 6 <br> family members</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 m-auto p-2">
          <div class="card px-2 rounded-4" style="width: 17rem;">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg"
              class="card-img-left p-3" height="125" width="125" alt="...">
            <div class="card-body">
              <h5 class="card-title"> <span class="text-primary">Free </span><span class="text-danger">For All
                  Health</span><br><span class="text-danger">Problems</span></h5>
              <p class="card-text">Consult with any doctor from<br><strong>18 departments</strong><span> at any
                  time</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 m-auto p-2">
          <div class="card mt-5 px-2 rounded-4" style="width: 17rem;">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg"
              class="card-img-left p-3" height="125" width="125" alt="...">
            <div class="card-body">
              <h5 class="card-title"> <span class="text-primary">Video </span><span
                  class="text-danger">Consultations</span></h5>
              <p class="card-text">Video Consults with top<br> doctors <strong>24x7</strong></p>
            </div>
          </div>
        </div>
      <div>
    </div> 
 </div>