 <div class="row py-4 text-center bg-primary text-light mt-1">
<div class="col">
<h3 class="fw-300">Get Huge Savings on Medicines</h3>
<div class="d-flex justify-content-center bd-highlight mb-1">
    <div class="p-2 bd-highlight"><i class="bi bi-check-circle mx-1"></i>100 % Genuine Medicines</div>
    <div class="p-2 bd-highlight"><i class="bi bi-check-circle mx-1"></i>Trusted Pharmacies</div>
    <div class="p-2 bd-highlight"><i class="bi bi-check-circle mx-1"></i>Delivery to your doorstep</div>
    <div class="p-2 bd-highlight"><i class="bi bi-check-circle mx-1"></i>Store Pick up</div>
  </div>
</div>
 </div>
<app-top-deals></app-top-deals>

