<div class="container">
    <div class="clearfix mt-4 mb-2">
        <h2 class="float-start">Top Deals</h2>
        <h4 class="float-end"><a routerLink="/otcCategory">View All</a></h4>
    </div>
    <div>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let deal of topDeals">
                <ng-template carouselSlide [id]="deal.id">
                    <div class="card card-block" style="width: 17rem;">
                        <img [src]="deal.productImageSlug[0]" [alt]="" [title]="deal.descriptionString" height="200"
                            width="200" class="border border-2">
                        <div class="card-body">
                            <h5 class="card-title text-desc" [title]="deal.description">{{deal.description}}</h5>
                            <p class="card-text text-muted">{{deal.type}}</p>
                            <p><span class="text-muted">MRP&nbsp;</span><span
                                    class="text-decoration-line-through">₹{{deal.discountPrice}}</span>&nbsp;<span>₹{{deal.actualPrice}}</span>
                                <button type="button" class="btn btn-outline-primary btn-sm ms-3 px-2">ADD</button>
                            </p>
                        </div>
                    </div>
                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>
</div>